{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "standard",
    "unicorn",
    "xo"
  ],
  "extends": [
    "plugin:xo/recommended",
    "plugin:unicorn/recommended",
    "standard"
  ],
  "rules": {
    "no-template-curly-in-string": "off"
  }
}
